@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}

.body{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display: inherit;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#titulo{
    display: flex;
    height: 100vh;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/Ale_Rav.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: red;
}

#titulo h1{
    font-size: 4rem;
    font-family: 'Cinzel', serif;
}

.menu{
    background-color:  #010f66;
    width: 100%;
}

.menu ul li{
    display: flex;
    float: left;
    text-align: center;
    font-size: 1.5rem;
    justify-content: space-around;
    width: 20%;
}

.menu ul li a{
    color: white;
}

.entry{
  width: 80%;
  margin: 5px auto 2px;
  border: 1px solid black;
  background-color: #263238;
  color: white;
  box-shadow: 4px 4px 7px #888888;
  padding: 10px;
  border-left: 10px solid #1976d2;
  text-align: center;
}

.entry strong{
    color:  #ff7203 ;
    font-size: 2.05rem;
}

.entry p{
    text-align: justify;
}

